[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
#!!!Make sure it matches whatever you rename ExampleBot.py to!!!
python_file = ./DefensiveBot.py

# Name of the bot in-game
name = DefensiveBot

maximum_tick_rate_preference = 120

[Details]
developer = Brandon Istfan and GooseFairy#6680 

# GooseFairy is the creator of GostlingUtils
description = DefensiveBot is a defensive training bot designed for 1v1 Rocket League matches.

# Programming language
language = Python
